<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div class="item form-group"
	th:fragment="buttons(cancelHref, object, formId)">
	<div class="
	col-md-6col-sm-6offset-md-3">
		<a th:href="${cancelHref}" class="btn btn-primary"> <i
			class="fa fa-undo"></i> <th:block th:text="' '+#{cancel.label}" />
		</a>
		<button type="submit" class="btn btn-success">
			<i th:class="${object.id == null} ? 'fa fa-sign-out' : 'fa fa-check'"
				aria-hidden="true"></i>
			<th:block
				th:text="' ' + ${object.id == null} ? #{add.label} : #{ok.label}" />
		</button>
			<!--/* https://stackoverflow.com/questions/52933002/only-variable-expressions-returning-numbers-or-booleans-are-allowed-in-this-cont */-->
		<a th:if="${object.id == null}" href="#" class="btn btn-success"
			th:formId="${formId}"
			th:onclick="setFormContinueMark(this.getAttribute('formId'));"> <i
			class="fa fa-check" aria-hidden="true"></i> <th:block
				th:text="' '+#{add.continue.label}" />
		</a>
	</div>
</div>
</html>