<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="body(scripts)">
	<!-- jQuery -->
	<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
	<!-- Bootstrap -->
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<!-- FastClick -->
	<script th:src="@{/webjars/fastclick/fastclick.js}"></script>
	<!-- NProgress -->
	<script th:src="@{/webjars/nprogress/nprogress.js}"></script>
	<!-- Chart.js -->
	<script th:src="@{/webjars/chartjs/Chart.min.js}"></script>
	<!-- gauge.js -->
	<!-- script th:src="@{/webjars/gauge.js/dist/gauge.min.js}"></script-->
	<!-- bootstrap-progressbar -->
	<script
		th:src="@{/webjars/bootstrap-progressbar/bootstrap-progressbar.min.js}"></script>
	<!-- iCheck -->
	<script th:src="@{/webjars/iCheck/icheck.min.js}"></script>
	<!-- Skycons -->
	<!-- script th:src="@{/webjars/skycons/skycons.js}"></script-->
	<!-- Flot -->
	<!-- script th:src="@{/webjars/flot/jquery.flot.js}"></script>
	<script th:src="@{/webjars/flot/jquery.flot.pie.js}"></script>
	<script th:src="@{/webjars/flot/jquery.flot.time.js}"></script>
	<script th:src="@{/webjars/flot/jquery.flot.stack.js}"></script>
	<script th:src="@{/webjars/flot/jquery.flot.resize.js}"></script-->
	<!-- Flot plugins -->
	<!-- script
		th:src="@{/webjars/github-com-emmerich-flot-orderBars/jquery.flot.orderBars.js}"></script>
	<script th:src="@{/webjars/flot-spline/js/jquery.flot.spline.min.js}"></script>
	<script th:src="@{/webjars/flot.curvedlines/curvedLines.js}"></script-->
	<!-- DateJS -->
	<script th:src="@{/webjars/datejs/build/date.js}"></script>
	<!-- JQVMap -->
	<!-- script th:src="@{/webjars/jqvmap/dist/jquery.vmap.min.js}"></script>
	<script th:src="@{/webjars/jqvmap/dist/maps/jquery.vmap.world.js}"></script>
	<script
		th:src="@{/webjars/jqvmap/examples/js/jquery.vmap.sampledata.js}"></script-->
	<!-- bootstrap-wysiwyg -->
	<!-- script src="../vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="../vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="../vendors/google-code-prettify/src/prettify.js"></script-->
	<!-- jQuery Tags Input -->
	<script th:src="@{/webjars/jquery-tagsinput/jquery.tagsinput.js}"></script>
	<!-- Switchery -->
	<script th:src="@{/webjars/switchery/dist/switchery.min.js}"></script>
	<!-- Select2 -->
	<script th:src="@{/webjars/select2/4.0.12/js/select2.full.min.js}"></script>
	<!-- Parsley -->
	<script th:src="@{/webjars/parsleyjs/parsley.min.js}"></script>
	<script th:src="@{/webjars/parsleyjs/i18n/ru.js}"></script>
	<!-- script src="i18n/"<?= echo $lang ?>".js"></script-->
	<!-- Autosize -->
	<script th:src="@{/webjars/autosize/dist/autosize.min.js}"></script>
	<!-- jQuery autocomplete -->
	<script
		th:src="@{/webjars/devbridge-autocomplete/dist/jquery.autocomplete.min.js}"></script>
	<!-- starrr -->
	<!-- script
		src="@{/webjars/bootstrap-daterangepicker/js/bootstrap-daterangepicker.js}../vendors/starrr/dist/starrr.js"></script-->
	<!-- bootstrap-duallistbox -->
	<script
		th:src="@{/webjars/bootstrap-duallistbox/dist/jquery.bootstrap-duallistbox.min.js}"></script>

	<!-- Custom Theme Scripts -->
	<script src="/themes/gentelella/build/js/custom.min.js"></script>
	<script src="/js/utils.js"></script>

	<!--/* Per-page placeholder for additional scripts */-->
	<th:block th:if="${scripts != null}">
		<th:block th:replace="${scripts}" />
	</th:block>
</th:block>
</html>