<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-read-delete}">
<th:block th:fragment="header">
	<head
		th:replace="fragments/fragment-read-delete :: head(${titleRead}, ~{this :: .custom-link})">
	</head>
</th:block>
<body class="nav-md">
	<!-- page content -->
	<div class="x_content" layout:fragment="page-content">
		<th:block th:if="${progLang == null}">
			<a th:href="@{~/datatypes/create}" class="btn btn-primary btn-xs"><i
				class="fa fa-plus"></i> <th:block th:text="' '+#{add.label}" /></a>
		</th:block>
		<th:block th:unless="${progLang == null}">
			<a th:href="@{~/proglangs}" class="btn btn-secondary btn-xs"><i
				class="fa fa-arrow-left"></i> <th:block
					th:text="' '+#{backto.label}+' '+${progLang.lang.val}" /></a>
			<a
				th:href="@{~/datatypes/{masterId}/create(masterId=${progLang.id})}"
				class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> <th:block
					th:text="' '+#{add.label}" /></a>
		</th:block>
		<div th:if="${not #lists.isEmpty(dataTypes)}" class="table-responsive">
			<form
				th:action="${progLang == null} ? @{~/datatypes/delete} : @{~/datatypes/{masterId}/delete(masterId=${progLang.id})}"
				th:method="POST" id="form-delete-dataTypes">
				<table class="table table-striped jambo_table bulk_action">
					<thead>
						<tr class="headings">
							<th><input type="checkbox" id="check-all" class="flat">
							</th>
							<th class="column-title" />
							<th th:if="${progLang == null}" class="column-title"
								th:text="#{lang.label}" />
							<th class="column-title" th:text="#{name.label}" />
							<th class="column-title" th:text="#{descr.label}" />
							<th class="column-title" th:text="#{sqltype.label}" />
							<th class="column-title" th:text="#{backendtype.label}" />
							<th class="column-title no-link last"><span class="nobr"
								th:text="#{frontendtype.label}"></span></th>
							<th class="bulk-actions" th:colspan="${progLang == null} ? 7 : 6">
								<button type="submit" class="btn btn-danger btn-xs">
									<i class="fa fa-trash-o"></i>
									<th:block th:text="' '+#{delete.label}" />
								</button>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="dataType, rowStat : ${dataTypes}"
							th:class="${rowStat.odd} ? 'odd pointer' : 'even pointer'">
							<td class="a-center "><input id="table_records"
								name="table_records" type="checkbox" th:value="${dataType.id}"
								class="flat"></td>
							<th:block th:if="${progLang == null}">
								<td
									th:replace="fragments/fragment-read-delete :: master-buttons(masterHref='datatypes', master=${dataType}, detailsHref='dataformats', details=${dataType.formats})" />
								<!-- th:replace="fragments/fragment-read-delete :: grid-row-buttons(href='datatypes', object=${dataType})" /-->
							</th:block>
							<th:block th:unless="${progLang == null}">
								<td
									th:replace="fragments/fragment-read-delete :: master-detail-buttons(masterHref='datatypes', master=${dataType}, detailsHref='dataformats', details=${dataType.formats}, detail=${dataType})" />
							</th:block>
							<td th:if="${progLang == null}"
								th:text="${dataType.master.lang.val}" class=" " />
							<td
								th:text="${dataType.name != null && dataType.name != ''} ? ${dataType.name} : (${dataType.sqlType != null} ? ${dataType.sqlType.val})"
								class=" " />
							<td th:text="${dataType.descr}" class=" " />
							<td
								th:text="${dataType.sqlType != null} ? ${dataType.sqlType.val}"
								class=" " />
							<td
								th:text="${dataType.backendType != null} ? ${dataType.backendType.name}"
								class=" " />
							<td
								th:text="${dataType.frontendType != null} ? ${dataType.frontendType.name}"
								class=" " />
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
	<!-- /page content -->
	<th:block th:fragment="body-scripts">
		<th:block
			th:replace="fragments/fragment-read-delete :: body(scripts=~{this :: .custom-script})">
		</th:block>
	</th:block>
</body>
</html>