<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-read-delete}">
<th:block th:fragment="header">
	<head
		th:replace="fragments/fragment-read-delete :: head(${titleRead}, ~{this :: .custom-link})">
	</head>
</th:block>
<body class="nav-md">
	<!-- page content -->
	<div class="x_content" layout:fragment="page-content">
		<th:block th:if="${master == null}">
			<a th:href="@{~/businessobjects/create}"
				class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> <th:block
					th:text="' '+#{add.label}" /></a>
		</th:block>
		<th:block th:unless="${master == null}">
			<a th:href="@{~/softwares}" class="btn btn-secondary btn-xs"><i
				class="fa fa-arrow-left"></i> <th:block
					th:text="' '+#{backto.label}+' '+${master.code}" /></a>
			<a
				th:href="@{~/businessobjects/{masterId}/create(masterId=${master.id})}"
				class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> <th:block
					th:text="' '+#{add.label}" /></a>
		</th:block>
		<div th:if="${not #lists.isEmpty(businessObjects)}"
			class="table-responsive">
			<form
				th:action="${master == null} ? @{~/businessobjects/delete} : @{~/businessobjects/{masterId}/delete(masterId=${master.id})}"
				th:method="POST" id="form-delete-businessObjects">
				<table class="table table-striped jambo_table bulk_action">
					<thead>
						<tr class="headings">
							<th><input type="checkbox" id="check-all" class="flat">
							</th>
							<th class="column-title" />
							<th th:if="${master == null}" class="column-title"
								th:text="#{master.label}" />
							<th class="column-title" th:text="#{name.label}" />
							<th class="column-title no-link last"><span class="nobr"
								th:text="#{descr.label}"></span></th>
							<th class="bulk-actions" th:colspan="${master == null} ? 4 : 3">
								<button type="submit" class="btn btn-danger btn-xs">
									<i class="fa fa-trash-o"></i>
									<th:block th:text="' '+#{delete.label}" />
								</button>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="businessObject, rowStat : ${businessObjects}"
							th:class="${rowStat.odd} ? 'odd pointer' : 'even pointer'">
							<td class="a-center "><input id="table_records"
								name="table_records" type="checkbox"
								th:value="${businessObject.id}" class="flat"></td>
							<td
								th:replace="fragments/fragment-read-delete :: grid-row-buttons(href='businessobjects', object=${businessObject})" />
							<td th:if="${master == null}"
								th:text="${businessObject.master.code}" class=" " />
							<td th:text="${businessObject.name}" class=" " />
							<td th:text="${businessObject.descr}" class=" " />
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
	<!-- /page content -->
	<th:block th:fragment="body-scripts">
		<th:block
			th:replace="fragments/fragment-read-delete :: body(scripts=~{this :: .custom-script})">
		</th:block>
	</th:block>
</body>
</html>