<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-create-update}"
	th:with="titleCurrent=${dataType.id == null} ? ${titleCreate} : ${titleUpdate}">
<th:block th:fragment="header">
	<head
		th:replace="fragments/fragment-create-update :: head(${titleCurrent}, ~{this :: .custom-link})">
</th:block>

<body class="nav-md">
	<!-- page content -->
	<div class="x_content" layout:fragment="page-content">
		<br />
		<form
			th:action="${not #lists.isEmpty(progLangs)} ? (${dataType.id == null} ? @{~/datatypes/create/{isContinue}(isContinue='false')} : @{~/datatypes/update/{id}(id=${dataType.id})}) : (${dataType.id == null} ? @{~/datatypes/{mainId}/create/{isContinue}(mainId=${dataType.master.id}, isContinue='false')} : @{~/datatypes/{mainId}/update/{id}(mainId=${dataType.master.id}, id=${dataType.id})})"
			th:object="${dataType}" th:method="POST" id="form-create-dataType"
			data-parsley-validate class="form-horizontal form-label-left">
			<div th:if="${not #lists.isEmpty(progLangs)}" class="item form-group">
				<label class="col-form-label col-md-3 col-sm-3 label-align"
					for="master" th:text="#{lang.label}"><span class="required">*</span></label>
				<div class="col-md-6 col-sm-6 ">
					<select th:field="*{master}" required="required"
						class="select2_group form-control">
						<option value="" th:text="#{lang.opt.empty.label}" />
						<option th:each="opt : ${progLangs}" th:value="${opt.id}"
							th:text="${opt.lang.val}"
							th:selected="${dataType.master != null} ? ${opt.id == dataType.master.id}: 'false'"></option>
					</select>
				</div>
			</div>
			<div class="item form-group">
				<label class="col-form-label col-md-3 col-sm-3 label-align"
					for="name"><th:block th:text="#{name.label}" /></label>
				<div class="col-md-6 col-sm-6 ">
					<input type="text" th:field="*{name}" class="form-control ">
				</div>
				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
					class="text-danger"></span>
			</div>
			<div class="item form-group">
				<label for="descr"
					class="col-form-label col-md-3 col-sm-3 label-align"
					th:text="#{descr.label}"></label>
				<div class="col-md-6 col-sm-6 ">
					<textarea th:field="*{descr}" class="form-control" rows="3"></textarea>
				</div>
			</div>
			<div class="item form-group">
				<label class="col-form-label col-md-3 col-sm-3 label-align"
					for="sqlType" th:text="#{sqltype.label}"></label>
				<div class="col-md-6 col-sm-6 ">
					<select th:field="*{sqlType}" class="select2_group form-control">
						<option value="" th:text="#{sqltype.opt.empty.label}" />
						<option th:each="opt : ${sqlTypes}" th:value="${opt.id}"
							th:text="${opt.val}"
							th:selected="${dataType.sqlType != null} ? ${opt.id == dataType.sqlType.id}: 'false'"></option>
					</select>
				</div>
			</div>
			<div class="item form-group">
				<label class="col-form-label col-md-3 col-sm-3 label-align"
					for="backendType" th:text="#{backendtype.label}"></label>
				<div class="col-md-6 col-sm-6 ">
					<select th:field="*{backendType}"
						class="select2_group form-control">
						<option value="" th:text="#{backendtype.opt.empty.label}" />
						<optgroup th:each="entry : ${backendTypes.entrySet()}"
							th:with="details=${entry.value}" th:label="${entry.key}">
							<option th:each="opt : ${details}" th:value="${opt.id}"
								th:text="${opt.name}"
								th:selected="${dataType.backendType != null} ? ${opt.id == dataType.backendType.id}: 'false'"></option>
						</optgroup>
					</select>
				</div>
			</div>
			<div class="item form-group">
				<label class="col-form-label col-md-3 col-sm-3 label-align"
					for="frontendType" th:text="#{frontendtype.label}"></label>
				<div class="col-md-6 col-sm-6 ">
					<select th:field="*{frontendType}"
						class="select2_group form-control">
						<option value="" th:text="#{frontendtype.opt.empty.label}" />
						<optgroup th:each="entry : ${frontendTypes.entrySet()}"
							th:with="details=${entry.value}" th:label="${entry.key}">
							<option th:each="opt : ${details}" th:value="${opt.id}"
								th:text="${opt.name}"
								th:selected="${dataType.frontendType != null} ? ${opt.id == dataType.frontendType.id}: 'false'"></option>
						</optgroup>
					</select>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="ln_solid"></div>
			<th:block
				th:replace="fragments/fragment-create-update :: form-buttons(cancelHref=${not #lists.isEmpty(progLangs)} ? @{~/datatypes} : @{~/datatypes/{mainId}(mainId=${dataType.master.id})}, object=${dataType}, formId='form-create-dataType')" />
		</form>
	</div>
	<!-- /page content -->
	<th:block th:fragment="body-scripts">
		<th:block
			th:replace="fragments/fragment-create-update :: body(scripts=~{this :: .custom-script})">
		</th:block>
	</th:block>
</body>
</html>
