<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-read-delete}">
<th:block th:fragment="header">
	<head
		th:replace="fragments/fragment-read-delete :: head(${titleRead}, ~{this :: .custom-link})">
	</head>
</th:block>
<body class="nav-md">
	<!-- page content -->
	<div class="x_content" layout:fragment="page-content">
		<a th:if="${master != null}" th:href="@{~/projects}" class="btn btn-secondary btn-xs"><i
			class="fa fa-arrow-left"></i> <th:block
				th:text="' '+#{backto.label}+' '+${master.name}" /></a> <a
			th:href="${master != null} ? @{~/tasks/{masterId}/create(masterId=${master.id}) : @{~/tasks/create}"
			class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> <th:block
				th:text="' '+#{add.label}" /></a>

		<div th:if="${not #lists.isEmpty(tasks)}" class="table-responsive">
			<form
				th:action="@{~/tasks/{masterId}/delete(masterId=${master.id})}"
				th:method="POST" id="form-delete-tasks">
				<table class="table table-striped jambo_table bulk_action">
					<thead>
						<tr class="headings">
							<th><input type="checkbox" id="check-all" class="flat">
							</th>
							<th class="column-title" />
							<th class="column-title" th:text="#{name.label}" />
							<th class="column-title no-link last"><span class="nobr"
								th:text="#{descr.label}"></span></th>
							<th class="bulk-actions" colspan="3">
								<button type="submit" class="btn btn-danger btn-xs">
									<i class="fa fa-trash-o"></i><span
										th:text="' '+#{delete.label}"></span>
								</button>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="task, rowStat : ${tasks}"
							th:class="${rowStat.odd} ? 'odd pointer' : 'even pointer'">
							<td class="a-center "><input id="table_records"
								name="table_records" type="checkbox" th:task="${task.id}"
								class="flat"></td>
							<td class=" "><div style="display: flex;">
									<a
										th:href="@{~/tasks/{masterId}/edit/{id}(masterId=${task.master.id}, id=${task.id})}"
										class="btn btn-info btn-sm"
										style="margin: 0px; padding-top: 0px; padding-bottom: 0px; display: inline;"><i
										class="fa fa-pencil fa-xs"></i></a><a
										th:href="@{~/tasks/{masterId}/delete/{id}(masterId=${task.master.id}, id=${task.id})}"
										class="btn btn-danger btn-sm"
										style="margin: 0px; padding-top: 0px; padding-bottom: 0px; display: inline;"><i
										class="fa fa-trash-o fa-xs"></i></a>
								</div></td>
							<td th:text="${task.name}" class=" " />
							<td th:text="${task.descr}" class=" " />
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
	<!-- /page content -->
	<th:block th:fragment="body-scripts">
		<th:block
			th:replace="fragments/fragment-read-delete :: body(scripts=~{this :: .custom-script})">
		</th:block>
	</th:block>
</body>
</html>