<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-read-delete}">
<th:block th:fragment="header">
	<head
		th:replace="fragments/fragment-read-delete :: head(${titleRead}, ~{this :: .custom-link})">
	</head>
</th:block>
<body class="nav-md">
	<!-- page content -->
	<div class="x_content" layout:fragment="page-content">
		<a th:href="@{~/doctypes/create}" class="btn btn-primary btn-xs"><i
			class="fa fa-plus"></i> <th:block th:text="' '+#{add.label}" /></a>

		<div th:if="${not #lists.isEmpty(docTypes)}" class="table-responsive">
			<form th:action="@{~/doctypes/delete}" th:method="POST"
				id="form-delete-docTypes">
				<table class="table table-striped jambo_table bulk_action">
					<thead>
						<tr class="headings">
							<th><input type="checkbox" id="check-all" class="flat">
							</th>
							<th class="column-title"></th>
							<th class="column-title" th:text="#{categ.label}" />
							<th class="column-title" th:text="#{type.label}" />
							<th class="column-title" th:text="#{template.label}" />
							<th class="column-title" th:text="#{iscurrentversion.label}" />
							<th class="column-title no-link last"><span class="nobr"
								th:text="#{descr.label}"></span></th>
							<th class="bulk-actions" colspan="6">
								<button type="submit" class="btn btn-danger btn-xs">
									<i class="fa fa-trash-o"></i>
									<th:block th:text="' '+#{delete.label}" />
								</button>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="docType, rowStat : ${docTypes}"
							th:class="${rowStat.odd} ? 'odd pointer' : 'even pointer'">
							<td class="a-center"><input id="table_records"
								name="table_records" type="checkbox" th:value="${docType.id}"
								class="flat"></td>
							<td
								th:replace="fragments/fragment-read-delete :: grid-row-buttons(href='doctypes', object=${docType})" />
							<td th:text="${docType.categ.val}" class=" " />
							<td th:text="${docType.type.val}" class=" " />
							<td th:text="${docType.template}" class=" " />
							<td class="a-center"><input type="checkbox"
								id="isCurrentVersion" name="isCurrentVersion"
								disabled="disabled" th:checked="${docType.isCurrentVersion}"
								class="flat" /></td>
							<td th:text="${docType.descr}" class=" " />
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
	<!-- /page content -->
	<th:block th:fragment="body-scripts">
		<th:block
			th:replace="fragments/fragment-read-delete :: body(scripts=~{this :: .custom-script})">
		</th:block>
	</th:block>
</body>
</html>
