<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-read-delete}">
<th:block th:fragment="header">
	<head
		th:replace="fragments/fragment-header-read-delete :: head(${titleRead}, ~{this :: .custom-link})">
	</head>
</th:block>
<body class="nav-md">
	<!-- page content -->
	<div class="x_content" layout:fragment="page-content">
		<a th:href="@{~/valuessets/create}" class="btn btn-primary btn-xs"><i
			class="fa fa-plus"></i> <th:block th:text="' '+#{add.label}" /></a>

		<div th:if="${not #lists.isEmpty(valuesSets)}"
			class="table-responsive">
			<form th:action="@{~/valuessets/delete}" th:method="POST"
				id="form-delete-valuesSets">
				<table class="table table-striped jambo_table bulk_action">
					<thead>
						<tr class="headings">
							<th><input type="checkbox" id="check-all" class="flat" /></th>
							<th class="column-title" />
							<th class="column-title" th:text="#{code.label}" />
							<th class="column-title" th:text="#{name.label}" />
							<th class="column-title" th:text="#{isupdatable.label}" />
							<th class="column-title no-link last"><span class="nobr"
								th:text="#{descr.label}"></span></th>
							<th class="bulk-actions" colspan="5">
								<button type="submit" class="btn btn-danger btn-xs">
									<i class="fa fa-trash-o"></i>
									<th:block th:text="' '+#{delete.label}" />
								</button> <!-- <a id="btn-value-create" th:href="@{~/valuessets/values/}"
								class="btn btn-secondary btn-xs"
								onclick="bulkActionChecked(this, event, 'table_records');"><i
									class="fa fa-folder-open"></i><th:block
									th:text="' '+#{value.read.label}"/></a>-->
							</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="valuesSet, rowStat : ${valuesSets}"
							th:class="${rowStat.odd} ? 'odd pointer' : 'even pointer'">
							<td class="a-center"><input id="table_records"
								name="table_records" type="checkbox" th:value="${valuesSet.id}"
								class="flat"></td>
							<td class="a-center"><a
								th:href="@{/valuessets/edit/{id}(id=${valuesSet.id})}"
								class="btn btn-info btn-sm"
								style="margin: 0px; padding-top: 0px; padding-bottom: 0px;"><i
									class="fa fa-pencil fa-xs"></i></a> <a
								th:href="@{/valuessets/delete/{id}(id=${valuesSet.id})}"
								class="btn btn-danger btn-sm"
								style="margin: 0px; padding-top: 0px; padding-bottom: 0px;"><i
									class="fa fa-trash-o fa-xs"></i></a><a
								th:href="@{/valuessets/{setId}/values(setId=${valuesSet.id})}"
								class="btn btn-secondary btn-sm"
								style="margin: 0px; padding-top: 0px; padding-bottom: 0px;"><i
									class="fa fa-plus-square-o fa-xs"></i></a></td>
							<td th:text="${valuesSet.code}" class=" " />
							<td th:text="${valuesSet.name}" class=" " />
							<td class="a-center"><input type="checkbox" id="isUpdatable"
								name="isUpdatable" disabled="disabled"
								th:checked="${valuesSet.isUpdatable}" class="flat" /></td>
							<td th:text="${valuesSet.descr}" class=" " />
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
	<!-- /page content -->
	<th:block th:fragment="body-scripts">
		<th:block
			th:replace="fragments/fragment-body-read-delete :: body(scripts=~{this :: .custom-script})">
		</th:block>
	</th:block>
</body>
</html>
