<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-forms}"
	th:with="titleCurrent=${value.id == null} ? ${titleCreate} : ${titleUpdate}">
<head>
<title th:text="${titleCurrent}">titleCurrent</title>
</head>

<body class="nav-md">
	<!-- page content -->
	<div class="x_content" layout:fragment="page-content">
		<br />
		<form
			th:action="${value.id == null} ? @{~/valuessets/{setId}/values/create/{isContinue}(setId=${value.valuesSet.id}, isContinue='false')} : @{~/valuessets/{setId}/values/update/{id}(setId=${value.valuesSet.id}, id=${value.id})}"
			th:object="${value}" th:method="POST" id="form-create-value"
			data-parsley-validate class="form-horizontal form-label-left">
			<!--/* Необходимо добавлять скрытые поля: version - для определения операции создания/обновления, 
				а created* - для сохранения значений при обновлении*/-->
			<input type="hidden" th:field="*{version}">
			<th:block th:if="${value.id != null}">
				<input type="hidden" th:field="*{createdBy}">
				<input type="hidden" th:field="*{createdDate}">
			</th:block>
			<div class="item form-group">
				<label class="col-form-label col-md-3 col-sm-3 label-align"
					for="code"><th:block th:text="#{code.label}" /><span
					class="required">*</span> </label>
				<div class="col-md-6 col-sm-6 ">
					<input type="text" th:field="*{code}" required="required"
						class="form-control ">
				</div>
				<span th:if="${#fields.hasErrors('code')}" th:errors="*{code}"
					class="text-danger"></span>
			</div>
			<div class="item form-group">
				<label class="col-form-label col-md-3 col-sm-3 label-align"
					for="val"><th:block th:text="#{val.label}" /><span
					class="required">*</span> </label>
				<div class="col-md-6 col-sm-6 ">
					<input type="text" th:field="*{val}" required="required"
						class="form-control ">
				</div>
				<span th:if="${#fields.hasErrors('val')}" th:errors="*{val}"
					class="text-danger"></span>
			</div>
			<div class="item form-group">
				<label class="col-form-label col-md-3 col-sm-3 label-align"
					for="closeDate" th:text="#{closeDate.label}"></label>
				<div class='input-group date col-md-3 col-sm-3'
					id='closeDatetimepicker'>
					<input type='text' th:field="*{closeDate}" class="form-control" />
					<span class="input-group-addon"><i
						class="fa fa-calendar fa-lg"></i></span>
				</div>
				<span th:if="${#fields.hasErrors('closeDate')}"
					th:errors="*{closeDate}" class="text-danger"></span>
			</div>
			<div class="item form-group">
				<label for="descr"
					class="col-form-label col-md-3 col-sm-3 label-align"
					th:text="#{descr.label}"></label>
				<div class="col-md-6 col-sm-6 ">
					<textarea th:field="*{descr}" class="form-control" rows="3"></textarea>
				</div>
			</div>
			<div class="item form-group">
				<label class="col-form-label col-md-3 col-sm-3 label-align"
					for="attr1" th:text="#{attr1.label}"></label>
				<div class="col-md-6 col-sm-6 ">
					<input type="text" th:field="*{attr1}" class="form-control ">
				</div>
				<span th:if="${#fields.hasErrors('attr1')}" th:errors="*{attr1}"
					class="text-danger"></span>
			</div>
			<div class="item form-group">
				<label class="col-form-label col-md-3 col-sm-3 label-align"
					for="attr2" th:text="#{attr2.label}"></label>
				<div class="col-md-6 col-sm-6 ">
					<input type="text" th:field="*{attr2}" class="form-control ">
				</div>
				<span th:if="${#fields.hasErrors('attr2')}" th:errors="*{attr2}"
					class="text-danger"></span>
			</div>
			<div class="item form-group">
				<label class="col-form-label col-md-3 col-sm-3 label-align"
					for="attr3" th:text="#{attr3.label}"></label>
				<div class="col-md-6 col-sm-6 ">
					<input type="text" th:field="*{attr3}" class="form-control ">
				</div>
				<span th:if="${#fields.hasErrors('attr3')}" th:errors="*{attr3}"
					class="text-danger"></span>
			</div>
			<div class="clearfix"></div>
			<div class="ln_solid"></div>
			<div class="item form-group">
				<div class="col-md-6 col-sm-6 offset-md-3">
					<a
						th:href="@{~/valuessets/{setId}/values(setId=${value.valuesSet.id})}"
						class="btn btn-primary"> <i class="fa fa-undo"></i><span
						th:text="' '+#{cancel.label}"></span>
					</a>
					<button type="submit" class="btn btn-success">
						<i
							th:class="${value.id == null} ? 'fa fa-sign-out' : 'fa fa-check'"
							aria-hidden="true"></i>
						<th:block
							th:text="' ' + ${value.id == null} ? #{add.label} : #{ok.label}" />
					</button>
					<a th:if="${value.id == null}" href="#" class="btn btn-success"
						onclick="setFormContinueMark('form-create-value');"> <i
						class="fa fa-check" aria-hidden="true"></i> <th:block
							th:text="' '+#{add.continue.label}" />
					</a>
				</div>
			</div>
		</form>
	</div>
	<!-- /page content -->
</body>
</html>
