<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-tables}">
<head>
<title th:text="${titleRead}"></title>
</head>

<body class="nav-md">
	<!-- page content -->
	<div class="x_content" layout:fragment="page-content">
		<a th:href="@{~/valuessets/}" class="btn btn-secondary btn-xs"><i
			class="fa fa-arrow-left"></i> <th:block
				th:text="' '+#{values.parent.label}" /></a> <a
			th:href="@{~/valuessets/{setId}/values/create(setId=${valuesSet.id})}"
			class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> <th:block
				th:text="' '+#{add.label}" /></a>

		<div th:if="${not #lists.isEmpty(values)}" class="table-responsive">
			<form
				th:action="@{~/valuessets/{setId}/values/delete(setId=${valuesSet.id})}"
				th:method="POST" id="form-delete-values">
				<table class="table table-striped jambo_table bulk_action">
					<thead>
						<tr class="headings">
							<th><input type="checkbox" id="check-all" class="flat">
							</th>
							<th class="column-title" />
							<th class="column-title" th:text="#{code.label}" />
							<th class="column-title" th:text="#{val.label}" />
							<th class="column-title" th:text="#{closeDate.label}" />
							<th class="column-title" th:text="#{descr.label}" />
							<th class="column-title" th:text="#{attr1.label}" />
							<th class="column-title" th:text="#{attr2.label}" />
							<th class="column-title" th:text="#{attr3.label}" />
							<th class="column-title" th:text="#{attr4.label}" />
							<th class="column-title" th:text="#{attr5.label}" />
							<th class="column-title" th:text="#{attr6.label}" />
							<th class="column-title" th:text="#{attr7.label}" />
							<th class="column-title" th:text="#{attr8.label}" />
							<th class="column-title" th:text="#{attr9.label}" />
							<th class="column-title no-link last"><span class="nobr"
								th:text="#{attr10.label}"></span></th>
							<th class="bulk-actions" colspan="16">
								<button type="submit" class="btn btn-danger btn-xs">
									<i class="fa fa-trash-o"></i><span
										th:text="' '+#{delete.label}"></span>
								</button>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="value, rowStat : ${values}"
							th:class="${rowStat.odd} ? 'odd pointer' : 'even pointer'">
							<td class="a-center "><input id="table_records"
								name="table_records" type="checkbox" th:value="${value.id}"
								class="flat"></td>
							<td class=" "><div style="display: flex;">
									<a
										th:href="@{/valuessets/{setId}/values/edit/{id}(setId=${value.valuesSet.id}, id=${value.id})}"
										class="btn btn-info btn-sm"
										style="margin: 0px; padding-top: 0px; padding-bottom: 0px; display: inline;"><i
										class="fa fa-pencil fa-xs"></i></a><a
										th:href="@{/valuessets/{setId}/values/delete/{id}(setId=${value.valuesSet.id}, id=${value.id})}"
										class="btn btn-danger btn-sm"
										style="margin: 0px; padding-top: 0px; padding-bottom: 0px; display: inline;"><i
										class="fa fa-trash-o fa-xs"></i></a>
								</div></td>
							<td th:text="${value.code}" class=" " />
							<td th:text="${value.val}" class=" " />
							<td th:text="${#dates.format(value.closeDate, 'dd.MM.yyyy')}"
								class=" " />
							<td th:text="${value.descr}" class=" " />
							<td th:text="${value.attr1}" class=" " />
							<td th:text="${value.attr2}" class=" " />
							<td th:text="${value.attr3}" class=" " />
							<td th:text="${value.attr4}" class=" " />
							<td th:text="${value.attr5}" class=" " />
							<td th:text="${value.attr6}" class=" " />
							<td th:text="${value.attr7}" class=" " />
							<td th:text="${value.attr8}" class=" " />
							<td th:text="${value.attr9}" class=" " />
							<td th:text="${value.attr10}" class=" " />
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
	<!-- /page content -->
</body>
</html>