<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-read-delete}">
<th:block th:fragment="header">
	<head
		th:replace="fragments/fragment-read-delete :: head(${titleRead}, ~{this :: .custom-link})">
	</head>
</th:block>
<body class="nav-md">
	<!-- page content -->
	<div class="x_content" layout:fragment="page-content">
		<th:block
			th:replace="fragments/fragment-read-delete :: panel-master-buttons(masterHref=@{~/valuessets}, master=${master}, detailsHref='values')" />

		<div th:if="${not #lists.isEmpty(values)}" class="table-responsive">
			<form
				th:action="@{~/values/{masterId}/delete(masterId=${master.id})}"
				th:method="POST" id="form-delete-values">
				<table class="table table-striped jambo_table bulk_action">
					<thead>
						<tr class="headings">
							<th><input type="checkbox" id="check-all" class="flat">
							</th>
							<th class="column-title" />
							<th class="column-title" th:text="#{code.label}" />
							<th class="column-title" th:text="#{val.label}" />
							<th class="column-title" th:text="#{closeDate.label}" />
							<th class="column-title" th:text="#{descr.label}" />
							<th class="column-title" th:text="#{attr1.label}" />
							<th class="column-title" th:text="#{attr2.label}" />
							<th class="column-title" th:text="#{attr3.label}" />
							<th class="column-title" th:text="#{attr4.label}" />
							<th class="column-title" th:text="#{attr5.label}" />
							<th class="column-title" th:text="#{attr6.label}" />
							<th class="column-title" th:text="#{attr7.label}" />
							<th class="column-title" th:text="#{attr8.label}" />
							<th class="column-title" th:text="#{attr9.label}" />
							<th class="column-title no-link last"><span class="nobr"
								th:text="#{attr10.label}"></span></th>
							<th class="bulk-actions" colspan="16"><th:block
									th:replace="fragments/fragment-read-delete :: grid-buttons" />
							</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="value, rowStat : ${values}"
							th:class="${rowStat.odd} ? 'odd pointer' : 'even pointer'">
							<td class="a-center "><input id="table_records"
								name="table_records" type="checkbox" th:value="${value.id}"
								class="flat"></td>
							<td
								th:replace="fragments/fragment-read-delete :: detail-buttons(master=${value.master}, detailsHref='values', detail=${value})" />
							<td th:text="${value.code}" class=" " />
							<td th:text="${value.val}" class=" " />
							<td th:text="${#dates.format(value.closeDate, 'dd.MM.yyyy')}"
								class=" " />
							<td th:text="${value.descr}" class=" " />
							<td th:text="${value.attr1}" class=" " />
							<td th:text="${value.attr2}" class=" " />
							<td th:text="${value.attr3}" class=" " />
							<td th:text="${value.attr4}" class=" " />
							<td th:text="${value.attr5}" class=" " />
							<td th:text="${value.attr6}" class=" " />
							<td th:text="${value.attr7}" class=" " />
							<td th:text="${value.attr8}" class=" " />
							<td th:text="${value.attr9}" class=" " />
							<td th:text="${value.attr10}" class=" " />
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
	<!-- /page content -->
	<th:block th:fragment="body-scripts">
		<th:block
			th:replace="fragments/fragment-read-delete :: body(scripts=~{this :: .custom-script})">
		</th:block>
	</th:block>
</body>
</html>