<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-read-delete}">
<th:block th:fragment="header">
	<head
		th:replace="fragments/fragment-read-delete :: head(${titleRead}, ~{this :: .custom-link})">
	</head>
</th:block>
<body class="nav-md">
	<!-- page content -->
	<div class="x_content" layout:fragment="page-content">
		<th:block
			th:replace="fragments/fragment-read-delete :: panel-buttons(detailsHref='databases')" />

		<div th:if="${not #lists.isEmpty(dataBases)}" class="table-responsive">
			<form th:action="@{~/databases/delete}" th:method="POST"
				id="form-delete-dataBases">
				<table class="table table-striped jambo_table bulk_action">
					<thead>
						<tr class="headings">
							<th><input type="checkbox" id="check-all" class="flat" /></th>
							<th class="column-title" />
							<th class="column-title" th:text="#{name.label}" />
							<th class="column-title" th:text="#{dbtype.label}" />
							<th class="column-title" th:text="#{server.label}" />
							<th class="column-title no-link last"><span class="nobr"
								th:text="#{descr.label}"></span></th>
							<th class="bulk-actions" colspan="5"><th:block
									th:replace="fragments/fragment-read-delete :: grid-buttons" />
							</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="dataBase, rowStat : ${dataBases}"
							th:class="${rowStat.odd} ? 'odd pointer' : 'even pointer'">
							<td class="a-center"><input id="table_records"
								name="table_records" type="checkbox" th:value="${dataBase.id}"
								class="flat"></td>
							<td
								th:replace="fragments/fragment-read-delete :: master-buttons(masterHref='databases', master=${dataBase}, detailsHref='schemas', details=${dataBase.children})" />
							<td th:text="${dataBase.name}" class=" " />
							<td th:text="${dataBase.dbType.val}" class=" " />
							<td
								th:text="${dataBase.server != null} ? ${dataBase.server.host} : ''"
								class=" " />
							<td th:text="${dataBase.descr}" class=" " />
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
	<!-- /page content -->
	<th:block th:fragment="body-scripts">
		<th:block
			th:replace="fragments/fragment-read-delete :: body(scripts=~{this :: .custom-script})">
		</th:block>
	</th:block>
</body>
</html>
