<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-read-delete}">
<th:block th:fragment="header">
	<head
		th:replace="fragments/fragment-read-delete :: head(${titleRead}, ~{this :: .custom-link})">
	</head>
</th:block>
<body class="nav-md">
	<!-- page content -->
	<div class="x_content" layout:fragment="page-content">
		<th:block
			th:replace="fragments/fragment-read-delete :: panel-buttons(detailsHref='projects')" />

		<div th:if="${not #lists.isEmpty(projects)}" class="table-responsive">
			<form th:action="@{~/projects/delete}" th:method="POST"
				id="form-delete-projects">
				<table class="table table-striped jambo_table bulk_action">
					<thead>
						<tr class="headings">
							<th><input type="checkbox" id="check-all" class="flat">
							</th>
							<th class="column-title"></th>
							<th class="column-title" th:text="#{name.label}" />
							<th class="column-title no-link last"><span class="nobr"
								th:text="#{descr.label}"></span></th>
							<th class="bulk-actions" colspan="3"><th:block
									th:replace="fragments/fragment-read-delete :: grid-tree-buttons(baseHref='projects')" />
							</th>
						</tr>
					</thead>
					<tbody th:with="rowNum=0">
						<th:block th:replace="this :: outputTree(${projects}, ${rowNum})" />
					</tbody>
				</table>
			</form>
		</div>
	</div>
	<th:block th:fragment="outputTree(projects, rowNum)">
		<th:block th:with="rowNum=${rowNum+1}">
			<th:block th:each="project, stat : ${projects}">
				<tr th:class="${rowNum % 2 != 0} ? 'odd pointer' : 'even pointer'">
					<td class="a-center "><input name="table_records"
						type="checkbox" th:value="${project.id}" class="flat"></td>
					<td
						th:replace="fragments/fragment-read-delete :: master-buttons(masterHref='projects', master=${project}, detailsHref='tasks', details=${project.tasks})" />

					<!-- /*https://stackoverflow.com/questions/46595638/adding-padding-to-bootstrap-table-cells*/ -->
					<td th:text="${project.name}" class=" " />
					<td th:text="${project.descr}" class=" " />
				</tr>
				<th:block th:if="${!#lists.isEmpty(project.children)}"
					th:replace="this :: outputTree(${project.children}, ${rowNum})" />
			</th:block>
		</th:block>
	</th:block>
	<!-- /page content -->
	<th:block th:fragment="body-scripts">
		<th:block
			th:replace="fragments/fragment-read-delete :: body(scripts=~{this :: .custom-script})">
		</th:block>
	</th:block>
</body>
</html>
