.bs-example {
	margin: 20px;
}

.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.alert-warning {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
}

.alert-info {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb;
}

page {
	background: white;
	display: block;
	margin: 0 auto;
	margin-bottom: 0.5cm;
	box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

page[size="A4"] {
	width: 21cm;
	height: 29.7cm;
}

page[size="A4"][layout="landscape"] {
	width: 29.7cm;
	height: 21cm;
}

page[size="A3"] {
	width: 29.7cm;
	height: 42cm;
}

page[size="A3"][layout="landscape"] {
	width: 42cm;
	height: 29.7cm;
}

page[size="A5"] {
	width: 14.8cm;
	height: 21cm;
}

page[size="A5"][layout="landscape"] {
	width: 21cm;
	height: 14.8cm;
}