<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-create-update}"
	th:with="titleCurrent=${software.id == null} ? ${titleCreate} : ${titleUpdate}">
<th:block th:fragment="header">
	<head
		th:replace="fragments/fragment-header-create-update :: head(${titleCurrent}, ~{this :: .custom-link})">
	</head>
</th:block>
<body class="nav-md">
	<!-- page content -->
	<div class="x_content" layout:fragment="page-content">
		<br />
		<form
			th:action="${software.id == null} ? (${software.parent.id == null} ? @{~/softwares/create/{isContinue}(isContinue='false')}:@{~/softwares/{parentId}/create/{isContinue}(parentId=${software.parent.id}, isContinue='false')}) : @{~/softwares/update/{id}(id=${software.id})}"
			th:object="${software}" th:method="POST" id="form-create-software"
			data-parsley-validate class="form-horizontal form-label-left">
			<input type="hidden" th:field="*{version}">
			<th:block th:if="${software.id != null}">
				<input type="hidden" th:field="*{createdBy}">
				<input type="hidden" th:field="*{createdDate}">
			</th:block>
			<div class="form-group row">
				<label class="col-form-label col-md-3 col-sm-3 label-align"
					th:text="#{softwares.parent.label}"></label>
				<div class="col-md-6 col-sm-6 ">
					<select th:field="*{parent}" class="select2_group form-control">
						<option value="" th:text="#{softwares.opt.empty.label}" />
						<option th:each="sw : ${softwares}" th:value="${sw.id}"
							th:text="${sw.name}"
							th:selected="${software.parent != null} ? ${sw.id == software.parent.id}: 'false'"></option>
						<!-- optgroup label="Alaskan/Hawaiian Time Zone">
												<option value="AK">Alaska</option>
												<option value="HI">Hawaii</option>
											</optgroup-->
					</select>
				</div>
			</div>
			<div class="item form-group">
				<label class="col-form-label col-md-3 col-sm-3 label-align"
					for="code"><th:block th:text="#{code.label}" /><span
					class="required">*</span> </label>
				<div class="col-md-6 col-sm-6 ">
					<input type="text" th:field="*{code}" required="required"
						class="form-control ">
				</div>
				<span th:if="${#fields.hasErrors('code')}" th:errors="*{code}"
					class="text-danger"></span>
			</div>
			<div class="item form-group">
				<label class="col-form-label col-md-3 col-sm-3 label-align"
					for="name"><th:block th:text="#{name.label}" /> <span
					class="required">*</span> </label>
				<div class="col-md-6 col-sm-6 ">
					<input type="text" th:field="*{name}" required="required"
						class="form-control ">
				</div>
				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
					class="text-danger"></span>
			</div>
			<div class="item form-group">
				<label class="col-form-label col-md-3 col-sm-3 label-align"
					for="type" th:text="#{type.label}"><span class="required">*</span></label>
				<div class="col-md-6 col-sm-6 ">
					<select th:field="*{type}" required="required"
						class="select2_group form-control">
						<option value="" th:text="#{type.opt.empty.label}" />
						<option th:each="tp : ${types}" th:value="${tp.id}"
							th:text="${tp.val}"
							th:selected="${software.type != null} ? ${tp.id == software.type.id}: 'false'"></option>
					</select>
				</div>
			</div>
			<div class="item form-group">
				<label for="descr"
					class="col-form-label col-md-3 col-sm-3 label-align"
					th:text="#{descr.label}"></label>
				<div class="col-md-6 col-sm-6 ">
					<textarea th:field="*{descr}" class="form-control" rows="3"></textarea>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="x_content">
				<ul class="nav nav-tabs bar_tabs" id="softwareTab" role="tablist">
					<li class="nav-item"><a class="nav-link active"
						id="enterprises-tab" data-toggle="tab" href="#enterprises"
						role="tab" aria-controls="enterprises" aria-selected="true">Активы</a></li>
					<li class="nav-item"><a class="nav-link" id="software-tab"
						data-toggle="tab" href="#softwares" role="tab"
						aria-controls="softwares" aria-selected="false">ПО</a></li>
					<li class="nav-item"><a class="nav-link" id="participants-tab"
						data-toggle="tab" href="#participants" role="tab"
						aria-controls="participants" aria-selected="false">Участники</a></li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="enterprises"
						role="tabpanel" aria-labelledby="enterprises-tab">Raw denim
						you probably haven't heard of them jean shorts Austin. Nesciunt
						tofu stumptown aliqua, retro synth master cleanse. Mustache cliche
						tempor, williamsburg carles vegan helvetica. Reprehenderit butcher
						retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui
						irure terr.</div>
					<div class="tab-pane fade" id="softwares" role="tabpanel"
						aria-labelledby="software-tab">
						<div class="clearfix"></div>
						<div class="x_content">
							<!-- Info Alert -->
							<div th:if="${#lists.isEmpty(softwares)}" class="bs-example">
								<div class="alert alert-info alert-dismissible fade show">
									<strong>Информация!</strong> Программного обеспечения пока нет.
									<button type="button" class="close" data-dismiss="alert">&times;</button>
								</div>
							</div>
							<div class="table-responsive">
								<table th:if="${not #lists.isEmpty(softwares)}"
									class="table table-striped jambo_table bulk_action">
									<thead>
										<tr class="headings">
											<th><input type="checkbox" id="check-all" class="flat"></th>
											<th class="column-title">Наименование</th>
											<th class="column-title no-link last"><span class="nobr">Описание</span>
											<th class="bulk-actions" colspan="7"><a class="antoo"
												style="color: #fff; font-weight: 500;">Bulk Actions ( <span
													class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i>
											</a></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="software, rowStat : ${softwares}"
											th:class="${rowStat.odd} ? 'odd pointer' : 'even pointer'">
											<td class="a-center "><input name="softwares"
												type="checkbox" th:value="${software.id}" class="flat"></td>
											<td th:text="${software.name}" class=" "></td>
											<td th:text="${software.descr}" class=" "></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="tab-pane fade" id="participants" role="tabpanel"
						aria-labelledby="participants-tab">xxFood truck fixie
						locavore, accusamus mcsweeney's marfa nulla single-origin coffee
						squid. Exercitation +1 labore velit, blog sartorial PBR leggings
						next level wes anderson artisan four loko farm-to-table craft beer
						twee. Qui photo booth letterpress, commodo enim craft beer mlkshk</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="ln_solid"></div>
			<th:block
				th:replace="fragments/fragment-create-update-form :: buttons(cancelHref=@{~/softwares/}, object=${software}, formId='form-create-software')" />
		</form>
	</div>
	<!-- /page content -->
	<th:block th:fragment="body-scripts">
		<th:block
			th:replace="fragments/fragment-body-create-update :: body(scripts=~{this :: .custom-script})" />
	</th:block>
</body>
</html>
