<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-read-delete}">
<th:block th:fragment="header">
	<head
		th:replace="fragments/fragment-read-delete :: head(${titleRead}, ~{this :: .custom-link})">
<!-- query.treetable -->
<link class="custom-link"
	th:href="@{/webjars/jquery-treetable/css/jquery.treetable.css}"
	rel="stylesheet">
<link class="custom-link"
	href="/css/jquery-treetable/jquery.treetable.theme.default.css"
	rel="stylesheet">
	</head>
</th:block>
<body class="nav-md">
	<!-- page content -->
	<div class="x_content" layout:fragment="page-content">
		<th:block
			th:replace="fragments/fragment-read-delete :: panel-buttons(detailsHref='softwares')" />

		<div th:if="${not #lists.isEmpty(softwares)}" class="table-responsive">
			<form th:action="@{~/softwares/delete}" th:method="POST"
				id="form-delete-softwares">
				<table id="softwares-tree-table"
					class="table table-striped jambo_table bulk_action">
					<thead>
						<tr class="headings">
							<th style="width: 5%"><input type="checkbox" id="check-all"
								class="flat"></th>
							<th class="column-title" style="width: 10%"></th>
							<th class="column-title" style="width: 15%"
								th:text="#{code.label}" />
							<th class="column-title" style="width: 30%"
								th:text="#{name.label}" />
							<th class="column-title" style="width: 10%"
								th:text="#{type.label}" />
							<th class="column-title" style="width: 10%"
								th:text="#{iscontractor.label}" />
							<th class="column-title no-link last" style="width: 20%"><span
								class="nobr" th:text="#{descr.label}"></span></th>
							<th class="bulk-actions" colspan="6"><th:block
									th:replace="fragments/fragment-read-delete :: grid-tree-buttons(baseHref='softwares')" />
							</th>
						</tr>
					</thead>
					<tbody th:with="rowNum=0">
						<th:block th:replace="this :: outputTree(${softwares}, ${rowNum})" />
					</tbody>
				</table>
			</form>
		</div>
	</div>
	<th:block th:fragment="outputTree(softwares, rowNum)">
		<th:block th:with="rowNum=${rowNum+1}">
			<th:block th:each="software, stat : ${softwares}">
				<tr th:data-tt-id="${software.id}"
					th:attrappend="data-tt-parent-id=${software.parent != null} ? ${software.parent.id}"
					th:class="${rowNum % 2 != 0} ? 'odd pointer' : 'even pointer'">
					<td class="a-center "><input name="table_records"
						type="checkbox" th:value="${software.id}" class="flat"></td>
					<td
						th:replace="fragments/fragment-read-delete :: grid-row-buttons(href='softwares', object=${software})" />
					<!-- /*https://stackoverflow.com/questions/46595638/adding-padding-to-bootstrap-table-cells*/ -->
					<td th:text="${software.code}" class=" " />
					<td th:text="${software.name}" class=" " />
					<td th:text="${software.type.val}" class=" " />
					<td class="a-center"><input type="checkbox" id="isContractor"
						name="isContractor" disabled="disabled"
						th:checked="${software.isContractor}" class="flat" /></td>
					<td th:text="${software.descr}" class=" " />
				</tr>
				<th:block th:if="${!#lists.isEmpty(software.children)}"
					th:replace="this :: outputTree(${software.children}, ${rowNum})" />
			</th:block>
		</th:block>
	</th:block>
	<!-- /page content -->
	<th:block th:fragment="body-scripts">
		<th:block
			th:replace="fragments/fragment-read-delete :: body(scripts=~{this :: .custom-script})"/>
		<script class="custom-script"
			th:src="@{/webjars/jquery-treetable/jquery.treetable.js}"></script>
		<!-- Initialize jquery.treetable -->
		<script class="custom-script" type="text/javascript">
			$("#softwares-tree-table").treetable({
				expandable : true,
				column : 2,
				initialState : "expanded",
				clickableNodeNames : true
			});
		</script>
	</th:block>
</body>
</html>
