<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-read-delete}">
<th:block th:fragment="header">
	<head
		th:replace="fragments/fragment-read-delete :: head(${titleRead}, ~{this :: .custom-link})">
	</head>
</th:block>
<body class="nav-md">
	<!-- page content -->
	<div class="x_content" layout:fragment="page-content">
		<th:block
			th:replace="fragments/fragment-read-delete :: panel-master-buttons(masterHref=@{~/datatables}, master=${parent}, detailsHref='dtcolumns')" />

		<div th:if="${not #lists.isEmpty(dtColumns)}" class="table-responsive">
			<form
				th:action="@{~/dtcolumns/{mainId}/delete(mainId=${parent.id})}"
				th:method="POST" id="form-delete-dtcolumns">
				<table class="table table-striped jambo_table bulk_action">
					<thead>
						<tr class="headings">
							<th><input type="checkbox" id="check-all" class="flat">
							</th>
							<th class="column-title" />
							<th class="column-title" th:text="#{position.label}" />
							<th class="column-title" th:text="#{name.label}" />
							<th class="column-title" th:text="#{type.label}" />
							<th class="column-title" th:text="#{isprimarykey.label}" />
							<th class="column-title" th:text="#{isuniquekey.label}" />
							<th class="column-title" th:text="#{isrequired.label}" />
							<th class="column-title" th:text="#{defaultvalue.label}" />
							<th class="column-title" th:text="#{foreignkey.label}" />
							<th class="column-title no-link last"><span class="nobr"
								th:text="#{descr.label}"></span></th>
							<th class="bulk-actions" colspan="10"><th:block
									th:replace="fragments/fragment-read-delete :: grid-buttons" />
							</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="dtColumn, rowStat : ${dtColumns}"
							th:class="${rowStat.odd} ? 'odd pointer' : 'even pointer'">
							<td class="a-center "><input id="table_records"
								name="table_records" type="checkbox" th:value="${dtColumn.id}"
								class="flat"></td>
							<td
								th:replace="fragments/fragment-read-delete :: detail-buttons(master=${dtColumn.parent}, detailsHref='dtcolumns', detail=${dtColumn})" />
							<td th:text="${dtColumn.pos}" class=" " />
							<td th:text="${dtColumn.name}" class=" " />
							<td th:text="${dtColumn.dtColumnType}" class=" " />
							<td class="a-center"><input type="checkbox"
								id="isPrimaryKey" name="isPrimaryKey" disabled="disabled"
								th:checked="${dtColumn.isPrimaryKey}" class="flat" /></td>
							<td class="a-center"><input type="checkbox" id="isUniqueKey"
								name="isUniqueKey" disabled="disabled"
								th:checked="${dtColumn.isUniqueKey}" class="flat" /></td>
							<td class="a-center"><input type="checkbox" id="isRequired"
								name="isRequired" disabled="disabled"
								th:checked="${dtColumn.isRequired}" class="flat" /></td>
							<td th:text="${dtColumn.defaultValue}" class=" " />
							<td th:text="${dtColumn.foreignKeyString}" class=" " />
							<td th:text="${dtColumn.descr}" class=" " />
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
	<!-- /page content -->
	<th:block th:fragment="body-scripts">
		<th:block
			th:replace="fragments/fragment-read-delete :: body(scripts=~{this :: .custom-script})" />
	</th:block>
</body>
</html>