<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout-forms}">
<head>
<title>Новый актив</title>
</head>

<body class="nav-md">
	<!-- page content -->
	<div class="right_col" role="main" layout:fragment="page-content">
		<div class="">
			<div class="page-title">
				<div class="title_left">
					<h3>Справочники</h3>
				</div>
				<div class="title_right">
					<div class="col-md-5 col-sm-5  form-group pull-right top_search">
						<div class="input-group">
							<input type="text" class="form-control"
								placeholder="Search for..."> <span
								class="input-group-btn">
								<button class="btn btn-default" type="button">Go!</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12 col-sm-12 ">
					<div class="x_panel">
						<div class="x_title">
							<h2>Новый актив</h2>
							<ul class="nav navbar-right panel_toolbox">
								<li><a class="collapse-link"><i
										class="fa fa-chevron-up"></i></a></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown" role="button" aria-haspopup="true"
									aria-expanded="false"><i class="fa fa-wrench"></i></a>
									<ul class="dropdown-menu" role="menu">
										<li><a class="dropdown-item" href="#">Settings 1</a></li>
										<li><a class="dropdown-item" href="#">Settings 2</a></li>
									</ul></li>
								<li><a class="close-link"><i class="fa fa-close"></i></a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div class="x_content">
							<br />
							<form th:action="@{~/enterprises/create}" th:object="${enterprise}"
								th:method="POST" id="form-create-enterprise" data-parsley-validate
								class="form-horizontal form-label-left">
								<div class="form-group row">
									<label class="col-form-label col-md-3 col-sm-3 label-align">Родительский
										актив</label>
									<div class="col-md-6 col-sm-6 ">
										<select th:field="*{parent}"
											class="select2_group form-control">
											<option value="">Выберите актив...</option>
											<option th:each="sw : ${enterprises}" th:value="${sw.id}"
												th:text="${sw.name}"></option>
											<!-- optgroup label="Alaskan/Hawaiian Time Zone">
												<option value="AK">Alaska</option>
												<option value="HI">Hawaii</option>
											</optgroup-->
										</select>
									</div>
								</div>
								<div class="item form-group">
									<label class="col-form-label col-md-3 col-sm-3 label-align"
										for="code">Код <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" th:field="*{code}" id="code"
											required="required" class="form-control ">
									</div>
									<span th:if="${#fields.hasErrors('code')}" th:errors="*{code}"
										class="text-danger"></span>
								</div>
								<div class="item form-group">
									<label class="col-form-label col-md-3 col-sm-3 label-align"
										for="name">Наименование <span class="required">*</span>
									</label>
									<div class="col-md-6 col-sm-6 ">
										<input type="text" th:field="*{name}" id="name"
											required="required" class="form-control ">
									</div>
									<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
										class="text-danger"></span>
								</div>
								<div class="item form-group">
									<label for="descr"
										class="col-form-label col-md-3 col-sm-3 label-align">Описание</label>
									<div class="col-md-6 col-sm-6 ">
										<textarea th:field="*{descr}" id="descr" class="form-control"
											rows="3"></textarea>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="x_content">
									<ul class="nav nav-tabs bar_tabs" id="enterpriseTab"
										role="tablist">
										<li class="nav-item"><a class="nav-link active"
											id="enterprises-tab" data-toggle="tab" href="#enterprises"
											role="tab" aria-controls="enterprises" aria-selected="true">Активы</a></li>
										<li class="nav-item"><a class="nav-link"
											id="enterprise-tab" data-toggle="tab" href="#enterprises"
											role="tab" aria-controls="enterprises" aria-selected="false">ПО</a></li>
										<li class="nav-item"><a class="nav-link"
											id="participants-tab" data-toggle="tab" href="#participants"
											role="tab" aria-controls="participants" aria-selected="false">Участники</a></li>
									</ul>
									<div class="tab-content" id="myTabContent">
										<div class="tab-pane fade show active" id="enterprises"
											role="tabpanel" aria-labelledby="enterprises-tab">Raw
											denim you probably haven't heard of them jean shorts Austin.
											Nesciunt tofu stumptown aliqua, retro synth master cleanse.
											Mustache cliche tempor, williamsburg carles vegan helvetica.
											Reprehenderit butcher retro keffiyeh dreamcatcher synth.
											Cosby sweater eu banh mi, qui irure terr.</div>
										<div class="tab-pane fade" id="enterprises" role="tabpanel"
											aria-labelledby="enterprise-tab">
											<div class="clearfix"></div>
											<div class="x_content">
												<!-- Info Alert -->
												<div th:if="${#lists.isEmpty(enterprises)}" class="bs-example">
													<div class="alert alert-info alert-dismissible fade show">
														<strong>Информация!</strong> Программного обеспечения пока
														нет.
														<button type="button" class="close" data-dismiss="alert">&times;</button>
													</div>
												</div>
												<div class="table-responsive">
													<table th:if="${not #lists.isEmpty(enterprises)}"
														class="table table-striped jambo_table bulk_action">
														<thead>
															<tr class="headings">
																<th><input type="checkbox" id="check-all"
																	class="flat"></th>
																<th class="column-title">Наименование</th>
																<th class="column-title no-link last"><span
																	class="nobr">Описание</span>
																<th class="bulk-actions" colspan="7"><a
																	class="antoo" style="color: #fff; font-weight: 500;">Bulk
																		Actions ( <span class="action-cnt"> </span> ) <i
																		class="fa fa-chevron-down"></i>
																</a></th>
															</tr>
														</thead>
														<tbody>
															<tr th:each="enterprise, rowStat : ${enterprises}"
																th:class="${rowStat.odd} ? 'odd pointer' : 'even pointer'">
																<td class="a-center "><input name="enterprises"
																	type="checkbox" th:value="${enterprise.id}" class="flat"></td>
																<td th:text="${enterprise.name}" class=" "></td>
																<td th:text="${enterprise.descr}" class=" "></td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
										<div class="clearfix"></div>
										<div class="tab-pane fade" id="participants" role="tabpanel"
											aria-labelledby="participants-tab">xxFood truck fixie
											locavore, accusamus mcsweeney's marfa nulla single-origin
											coffee squid. Exercitation +1 labore velit, blog sartorial
											PBR leggings next level wes anderson artisan four loko
											farm-to-table craft beer twee. Qui photo booth letterpress,
											commodo enim craft beer mlkshk</div>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="ln_solid"></div>
								<div class="item form-group">
									<div class="col-md-6 col-sm-6 offset-md-3">
										<a th:href="@{~/enterprises/}" class="btn btn-primary"> <i
											class="fa fa-undo"></i>&nbsp;Отмена
										</a>
										<button type="submit" class="btn btn-success">ОК</button>
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /page content -->
</body>
</html>
